<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ book.book_title }}</h1>
    <h3>
      Author: {% for author in book.authors.all %}
      <span>{{ author.full_name }}</span>
      {% endfor %}
    </h3>

    <h2>Reviews</h2>
    {% for review in book.book_reviews.all %}
    <hr />
    <p>Rating: {{ review.rating}}</p>
    <p>
      <a href="/users/{{ review.user_who_wrote_this.id }}"
        >{{ review.user_who_wrote_this.alias }}</a
      >
      says: {{ review.text }}
    </p>
    <p>Posted on: {{ review.created_at }}</p>

    {% if review.user_who_wrote_this.id == request.session.user_id %}
    <a href="/review/1/delete">Delete</a>
    {% endif %} {% endfor %}

    <h2>Add a review:</h2>
    <form action="/reviews/create" method="post">
      {% csrf_token %}
      <input type="hidden" name="book_id" value="{{ book.id }}" />
      <textarea name="review_text" cols="30" rows="10"></textarea>
      <p>Rating <input type="number" name="review_rating" />stars.</p>
      <button type="submit">Submit Review</button>
    </form>
  </body>
</html>
