<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    
  <h1> <center> Welcome to Quick Quotes</center> </h1>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <fieldset>
            <legend>Register</legend>
            <form action="/register" method="post">
              {% csrf_token %}
              <p>
                <label for="name">Name</label>
                <input type="text" name="name" />
              </p>
              <p>
                <label for="alias">Alias</label>
                <input type="text" name="alias" />
              </p>
              <p>
                <label for="email">Email</label>
                <input type="text" name="email" />
              </p>
              <p>
                <label for="password">Password</label>
                <input type="password" name="password" />
              </p>
              <p>
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm_password" />
              </p>
              <button type="submit">Register</button>
            </form>
            
          </fieldset>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 1 min ago</small>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <fieldset>
            <legend>Login</legend>
            <form action="/login" method="post">
              {% csrf_token %}
              <p>
                <label for="login_email">Email</label>
                <input type="email" name="login_email" />
              </p>
              <p>
                <label for="login_password">Password</label>
                <input type="password" name="login_password" />
              </p>
              <button type="submit">Login</button>
            </form>
          </fieldset>        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

  </body>
</html>
