<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ quote.quote_title }}</h1>
    <h3>
      Author: {% for author in quote.authors.all %}
      <span>{{ author.full_name }}</span>
      {% endfor %}
    </h3>
    <h1>{{ quote.quote_desc }}</h1>
    <h2>Comments</h2>

      <a href="/users/{{ review.user_who_wrote_this.id }}"
        >{{ review.user_who_wrote_this.alias }}</a
      >
      says: {{ review.text }}
    </p>
    <p>Posted on: {{ review.created_at }}</p>

    {% if review.user_who_wrote_this.id == request.session.user_id %}
    <a href="/quotes/remove/{{ quote.id }}">Delete</a>
    {% endif %} {% endfor %}


    {{  current_quote.users_likes  }}
    <a href="/quotes/{{ quote.id }}/like/">Like</a>



    <h2>Add a review:</h2>
    <form action="/reviews/create" method="post">
      {% csrf_token %}
      <input type="hidden" name="quote_id" value="{{ quote.id }}" />
      <textarea name="quote_text" cols="30" rows="10"></textarea>
      <button type="submit">Submit Quote</button>
    </form>
  </body>
</html>
